@tailwind base;
@tailwind components;
@tailwind utilities;


.text-logo:after {
    margin-top: 8%;
    max-width: 30%;
}
.text-logo:after {
    background: #4b5563;
    border-radius: 1000px;
    content: "";
    display: block;
    height: 6px;
    max-width: 30px;
    width: 100%;
}


#go-top{border-radius: 3px;background-color: rgba(70,70,70,.5);  display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;position: fixed;bottom: 15px;width: 45px;height: 45px;text-align: center;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-perspective: 1000;-ms-perspective: 1000;perspective: 1000;-webkit-transform: translateZ(0px);-ms-transform: translateZ(0px);transform: translateZ(0px);right: -60px;opacity: 0;transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out}
#go-top i{line-height: 45px;margin-right: auto;margin-left: auto}
#go-top.activo {
    right: 15px;
    opacity: 1;
    z-index: 1000;
    background: #426db3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#go-top.activo:hover{cursor: pointer}


.whatsapp_float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    left: 40px;
    border: 2px solid #25d366;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp.icon {
    margin: 0;
    font-size: 40px;

}
.whatsapp_float:hover .whatsapp.icon {
    opacity: 0.8;
    color: #fff;
}
.whatsapp_float svg.w-6.h-6.text-green-400.fill-current {
    color: #fff;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #426db3;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  #contacto label:after {
	content: '*';
	color: red;
  }

/* for mobile */
@media screen and (max-width: 767px) {
   .whatsapp.icon {
    margin: 5px;
    font-size: 20px;

}
.whatsapp_float svg.w-6.h-6.text-green-400.fill-current {
    color: #fff;
}
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}